 html {
  scroll-behavior: smooth;
 }

 * {
    font-family: sans-serif;
    border-radius: 2px;
 }

/*-------------------*\

        page

\*-------------------*/

 .page {
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
    padding: 20px;
    object-fit: contain;
    max-width: 850px;
 }

 .nav {
    background-color: #ffffff;
    overflow: hidden;
    font-weight: bold;
    border: 2px solid rgb(62, 62, 62);
    top: 0;
    background-color: #ecebeb;
    max-width: 891px;
    margin: 0 auto;
    text-align: center;
    object-fit: contain;
  }
  

  .navbtn:hover {
    background-color: #e6e6e6;
    color: black;
    transition-duration: 120ms;
    border-style: inset;
  }

  .navbtn:active {
    border-style: inset;
    background-color: #a0a0a0;
    transition-duration: 120ms;
    border: 1px solid rgb(0, 0, 0);
  }
  
 .navbtn{
    float: left;
    color: #000000;
    text-align: center;
    padding: 16px 22px;
    text-decoration: none;
    border: 1px solid black;
  }

  .centercaption, .centerlist {
    text-align: center;
   }
  .title {
    text-align: center;
  }
  
  .bold {
    font-weight: bold;
  }

  img{
    max-width: 100%;
    max-height: 100%;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: auto;
  }

  h1, img, h2, h3, h4, h5, h6{
    text-align: center;
  }

  figcaption {
    padding: 15px;
    font-size: 16px;
    text-align: left;
  }

 .right-img {
  text-align: center;
  scale: 50%;
 }

 .link {
  padding: 6px;
 }
 .link:active {
  border: 2px solid #6177f6;
  background-color: rgba(98, 98, 98, 0.734);
  transition-duration: 0.2s;
  border-radius: 2px;
 }
 
 .link:hover {
  color: #0026ff;
  text-decoration: underline;
  transition-duration: 300ms;
  background-color: rgba(98, 98, 98, 0.645);  
 }

 .link:visited {
  color: rgb(44, 44, 245);
 }

/*-------------------*\

      photo gallery

\*-------------------*/

 #gallery {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-flow: dense;
 }
 .galleryimg {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  z-index: 998
 }
 .galleryimg:hover {
  filter: brightness(80%);
  border: 3px solid white;
  z-index: 999;
 }
 .galleryimg:active, img:active {
  filter: brightness(70%);

/*-------------------*\

        lists and tables

\*-------------------*/

 }
 .hdata {
  border: 1px solid black;
 }
.hhead {
  border: 1px solid black;
}

 .listdata {
  width:100%;
  height:100%;
  border:1px solid;
  border-collapse:separate;
  padding:6px;
 }
 .listdata, th {
  border:1px solid;
  padding:6px;
  background:#F0F0F0;
 }
 .listdata, td {
  border:1px solid;
  padding:6px;
 }
 th {
  background-color: #8fa0fc;
 }
 tr {
  background-color: #8f8f8f;
 }

